<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RealName" connectionString="foo" providerName="System.Data.SqlClient" />
    <add name="DifferentConnectionString" connectionString="bar" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>